/* Start adding your styling below! */ 

      body{
          background-color: yellow;
      }
      p{
          color: green;
          /* font-size: 24px;
          margin: 66; */
      }
      h1{
          font-size: 36px;
          /* font-weight: 600; */
      }
      html{
        text-align: center;  
        /* font-family: cursive; */
          
      }
      .center{
          text-align: center;
      }
      #list-color {
        color: blueviolet;
        font-weight: 500;
        font-size: x-large;
        margin: 55;
      }
      #cool-text{
        color:navy;
      }
    